@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', serif; 
  color: #24292e;
  line-height: 1.6;
  letter-spacing: 0.01em;
}


.container {
  /* max-width: 100ch; */
  margin: 0 auto;
  padding: 0 1rem;
}

.prose {
  max-width: 100ch;
  margin: auto;
  background-color: #ffffff;
  border-radius: 0.5rem;
}

.main-content {
  display: flex;
  justify-content: center;
  width: 100%;
  box-shadow: 1px 1px 1px 1px #000;
}

.header-container {
  max-width: 120ch;
  align-items: center;
  padding: 1rem;
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container img {
  width: 960px;
  height: 504px;
}

.content {
  max-width: 800px;
  width: 100%;
  padding: 0rem 1rem;
}

.tags-container span {
  display: inline-block;
  margin-right: 0.5rem;
}

.author-info {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .content {
    padding: 2rem 1.5rem;
  }
}

@media (max-width: 450px) {
  .content {
    padding: 2rem 2rem;
  }
}

aside {
  margin-right: 2rem;
}

aside {
  width: 240px;
  flex-shrink: 0;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  scroll-margin-top: 6rem;
  font-weight: 700;
}

.prose h1 {
  @apply text-2xl sm:text-3xl font-bold mb-6;
  line-height: 1.2;
  letter-spacing: -0.5px;
}

.prose h2 {
  @apply text-xl sm:text-2xl font-bold mt-8 mb-4;
  line-height: 1.3;
  letter-spacing: -0.5px;
}

.prose h3 {
  @apply text-lg sm:text-xl font-bold mt-6 mb-4;
  line-height: 1.4;
  letter-spacing: -0.5px;
}

.prose h4, .prose h5, .prose h6 {
  @apply text-base sm:text-lg font-medium mt-4 mb-2;
  line-height: 1.5;
}

.prose p {
  @apply text-sm sm:text-base leading-relaxed mb-6;
  font-size: 1rem;
  line-height: 1.2;
  letter-spacing: 0.024em;
  font-family: "Roboto, sans-serif";
}

.prose a {
  @apply text-blue-600 hover:underline;
}

.prose blockquote {
  @apply border-l-4 border-gray-300 pl-4 italic text-gray-700;
  margin: 1.5rem 0;
  font-family: 'Source Serif Pro', serif;
}

.prose ul, .prose ol {
  @apply text-sm sm:text-base list-inside mb-4 pl-5;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.prose ul {
  @apply list-disc;
}

.prose ol {
  @apply list-decimal;
}

.prose ul > li::marker, .prose ol > li::marker {
  @apply font-bold text-gray-700;
}

.prose li {
  @apply mb-2;
}

.prose li p {
  @apply mb-0;
}

.prose code {
  @apply  text-white text-xs sm:text-sm px-1.5 py-0.5 rounded;
  position: relative;
  padding-left: 2rem;
}

.prose pre {
  @apply bg-gray-800 text-white text-xs sm:text-sm rounded-lg overflow-x-auto relative;
  padding-top: 2rem; /* space for circles */
}

.prose code.language-javascript {
  @apply bg-gray-100 text-black text-xs sm:text-sm px-1.5 py-0.5 rounded;
}

.prose pre.language-javascript {
  @apply bg-gray-100 text-black text-xs sm:text-sm rounded-md overflow-x-auto relative;
  padding-top: 2rem; /* space for circles */
}

.prose table {
  @apply w-full text-left border-collapse mt-4;
}

.prose th, .prose td {
  @apply border border-gray-200 px-4 py-2;
}

.prose th {
  @apply bg-gray-100 font-semibold;
}

.author-info {
  @apply flex justify-center items-center space-x-1;
}

.author-info .author-name {
  @apply text-xs sm:text-xs font-medium text-gray-800;
}

.author-info .author-date {
  @apply text-xs sm:text-xs font-medium text-gray-700;
}

.custom-font {
  font-family: 'Pixelify Sans', sans-serif;
}

.modal-open {
  overflow: hidden;
}

.modal-open .fixed {
  backdrop-filter: blur(5px);
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #e0e0e0 1px, transparent 1px),
    linear-gradient(to bottom, #e0e0e0 1px, transparent 1px);
  background-size: 20px 20px;
  opacity: 0.2;
  z-index: -1;
  pointer-events: none;
}

@media (prefers-color-scheme: dark) {
  body::before {
    background-image: linear-gradient(to right, #3a3a3a 1px, transparent 1px),
      linear-gradient(to bottom, #3a3a3a 1px, transparent 1px);
    opacity: 0.050;
  }
}

.prose pre {
  position: relative;
  padding-top: 2rem; /* space for circles */
}



.prose pre::before {
  content: '';
  position: absolute;
  top: 0.75rem;
  left: 0.75rem;
  width: 0.75rem;
  height: 0.75rem;
  background-color: #ff5f56; /* red circle */
  border-radius: 50%;
  z-index: 1;

}

.prose pre::after {
  content: '';
  position: absolute;
  top: 0.75rem;
  left: 1.75rem;
  width: 0.75rem;
  height: 0.75rem;
  background-color: #ffbd2e; /* yellow circle */
  border-radius: 50%;
  z-index: 1;
}

.prose pre .circle-line {
  position: absolute;
  top: 1.75rem;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ccc;
}


.animated-list li {
  transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.animated-list:hover li:not(:hover) {
  text-color: #f1f1f1; 
  opacity: 0.5;
}

.animated-list li:hover {
  text-color: #f9f9f9; 
  opacity: 1 !important;
}

.borderBlack {
  @apply border border-black/10;
}






.grid-container {
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  max-width: 1150px; /* Grid container's maximum width */
  margin: 0 auto; /* Center the containers */
}

.grid-item {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.grid-item .image-container {
  position: relative;
  flex-shrink: 0; /* Prevents the image container from shrinking */
}

.grid-item .content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.thumbnail-shadow {
  box-shadow:
    0 0 0 0.5px #e2e8f0,
    0 0 0 1px rgba(226, 232, 240, 0.5),
    0 0 0 3px #f8fafc,
    0 0 0 3.5px #f1f5f9,
    0 10px 15px -3px rgb(59 130 246/5%),
    0 4px 6px -4px rgb(59 130 246/5%);
}